*.md filter=lfs diff=lfs merge=lfs -text
*.lock filter=lfs diff=lfs merge=lfs -text
*.toml filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
*.sdf filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
/Dockerfile filter=lfs diff=lfs merge=lfs -text
*.def filter=lfs diff=lfs merge=lfs -text
/signaturizer3d/unimol/LICENSE filter=lfs diff=lfs merge=lfs -text
*.md !text -filter -merge -diff
* !text !filter !merge !diff
*>100MB filter=lfs diff=lfs merge=lfs -text
